parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - src/Generated
            - tests/Generated
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
